# ========================================
# Configuration API
# ========================================
NEXT_PUBLIC_API_BASE_URL=https://merrive-api-v2.onrender.com

# ========================================
# Configuration Application
# ========================================
NEXT_PUBLIC_APP_NAME=Merrive Institutional Portal
NEXT_PUBLIC_APP_VERSION=1.0.0

# ========================================
# Configuration Environnement
# ========================================
NODE_ENV=production

